[submodule "LikeMagic"]
	path = LikeMagic
	url = git@github.com:dennisferron/LikeMagic.git
[submodule "io"]
	path = io
	url = git@github.com:dennisferron/io.git
[submodule "Irrliscope"]
	path = Irrliscope
	url = git@github.com:dennisferron/Irrliscope.git
[submodule "desteer"]
	path = desteer
	url = git@github.com:dennisferron/desteer.git
[submodule "Common"]
	path = Common
	url = git@github.com:dennisferron/Common-Dependencies.git
[submodule "GameBindings"]
	path = GameBindings
	url = git@github.com:dennisferron/GameBindings.git
[submodule "Iocaste"]
	path = Iocaste
	url = git@github.com:dennisferron/Iocaste.git
